tr:nth-child(even) {
    background-color: #D6EEEE;
}

.city {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding:20px;
}

#MyHeader {
    background-color:lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}

 <!--media queries-->
 @media screen and (max-width: 800px){
    
 }